template(name='home')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}" class=darkmode_class)
    // .ui.stackable.padded.grid(class=darkmode_class)
    .ui.grid
        if currentUser
            .sixteen.wide.column
                +role_switcher
            .ui.compact.icon.button.scrolldown(title='scroll to bottom')
                i.big.chevron.down.icon 
                // |scroll to bottom
            .ui.inline.header #{current_time} #{current_date}
        unless currentUser 
            +public_dashboard
        if is currentUser.current_role 'staff' 
            +staff
        if is currentUser.current_role 'user'
            +user_dashboard
        +site_activity
        
        
template(name='site_activity')
    .ui.header site activity
    .ui.list 
        each site_activity_docs 
            .item #{title}
                |#{when}
            
            
template(name='public_dashboard')
    +posts
            
            
template(name='user_dashboard')
    .ui.header user dashboard 
    +market 
    


template(name='market')
    .ui.header market         
    .ui.list 
        each products 
            .item 
                .header #{title}        
            
template(name='staff')
    unless subs_ready
        i.massive.refresh.loading.icon
    if subs_ready2
        unless currentUser
            .ui.stackable.padded.grid.blackbg
                .twelve.wide.column
                    +login
                .four.wide.column       
                    +stats
        if currentUser
            .ui.stackable.padded.grid.blackbg.scrolling
                .four.column.row
                    .column
                        +admin
                        +kiosk_settings
                    .column
                        +active_checkins
                    .column
                        +clockin
                    .column
                        +call_method name='send_sms'
                        if currentUser.admin_mode
                            .ui.button.test 
                                |test
                        // +search
                        +pinned_posts
                    .column
                        +latest_notes
                    .column
                        +latest_activity
                    // .column
                    //     +your_tasks
                    .four.wide.column
                        +wywo
                .four.column.row
                    .column
                        +staff_tasks
                    .column
                        +staff_activity
                    // .column
                    //     +hiring_interest
                    .column
                        +stats
                        .ui.header 
                            +i name='info'
                            | hours 7am-10pm
                        a.ui.large.compact.button.zoomer(href="https://goo.gl/maps/Xzx6XiWAikcdMAso7" target="_window") 
                            +i name='marker'
                            |2959 Shadow Creek Dr, Boulder, CO 80303
                        a.ui.large.compact.button.zoomer(href="tel:303-545-1787") 
                            +i name='phone'
                            |phone: (303) 545-1787
                    // .column
                    //     +latest_requests
                        // +latest_rentals
                    .column
                        +contacts
                    // .column
                    //     +guest_block
                .three.column.row
                    .column
                        +shifts
                    .column.smaller
                        a.ui.compact.button.zoomer(href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_MUu-oEgWNLVf4EWa92xag_NY1EdkoI7XkGCbYYYYmQvfLWgPtHGKuiOV-U7tMhDXVgg4BRooAUmK/pubhtml" target='_window') 
                            i.external.icon
                            |schedule link
                        iframe.rounded.smaller(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT_MUu-oEgWNLVf4EWa92xag_NY1EdkoI7XkGCbYYYYmQvfLWgPtHGKuiOV-U7tMhDXVgg4BRooAUmK/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" height="100%" width="100%")
                    .column 
                        with currentUser
                            +appearance_settings
                // if currentUser
                //     .four.wide.column
                //         +latest_checkins
                // .eight.wide.column
                //     +map_view
            .one.column.row
                .column
                    .ui.accordion 
                        .title 
                            .ui.inline.header 
                                +i name='water'
                                |water 
                                i.dropdown.icon
                            +water_small
                        .content
                            +readings
    
template(name='pinned_posts')
    .ui.fluid.accordion.alpha 
        .title
            .ui.header
                +i name='note'
                |#{pinned_post_docs.count} pinned posts
                i.dropdown.icon
        .content.medscroll
            if session_is 'pinned_ready' true
                .ui.cards 
                    each pinned_post_docs
                        .card.raised
                            img.ui.image.zoomer(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                            .content.smallscroll
                                .header #{title}
                                |!{body}
                                |!{content}
                            .content 
                                a.ui.icon.button.fly_right(href="/post/#{_id}")
                                    i.large.chevron.right.icon
                                +read_info_small
            else 
                i.big.refresh.loading.icon
                            
template(name='your_tasks')
    .ui.header 
        |your tasks
          
template(name='wywo')
    .ui.accordion.alpha
        .title.zoomer
            .ui.inline.header
                +i name='edit'
                |while you were out
                i.dropdown.icon
        .content.medscroll
            .ui.icon.large.inverted.input
                i.lightning.icon
                input.description(type='text' placeholder='quick add note...')
            div
            each work_docs 
                .ui.segment 
                    if is_editing 
                        +html_edit key='description'
                        +bu_edit
                        +boolean_edit key='urgent' label='urgent' icon='alert'
                        +key_value_edit key='model' value='task' label='task' icon='tasks'
                        +key_value_edit key='model' value='post' label='post' icon='news'
                        +key_value_edit key='model' value='work' label='work' icon='wrench'
                        if currentUser.admin_mode
                            +print_this
                    else 
                        .ui.small.inline.header !{description}
                        +author_info
                        .ui.label #{building_number}
                        .ui.label #{unit_number}
                        .ui.label #{model}
                    +toggle_edit_button
                    +read_info_small
          
template(name='online_users')
    .ui.header online users 
    each online_user_docs 
        .ui.header #{username}
          
template(name='toggle_edit_button')
    if is_editing
        .ui.big.green.button.toggle 
            i.large.checkmark.icon
            |save
    else
        .ui.icon.circular.basic.button.toggle(title='toggle editing')
            i.large.pencil.icon
          
template(name='contacts')    
    .ui.accordion.alpha
        .title
            .ui.header
                +i name='user-shield'
                |staff list 
                i.dropdown.icon
        .content
            .ui.selection.animated.large.list
                each staff_users 
                    a.item.fly_right.zoomer(href="/user/#{username}") 
                        img.ui.avatar.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{first_name} #{last_name}
                        .ui.label 
                            i.phone.icon 
                            |#{phone}
                        .ui.label 
                            i.envelope.icon 
                            |#{email}
                        each roles 
                            .ui.label #{this}
                        // |#{username}
template(name='clockin')  
    div(class=expand_class)
        .ui.fluid.styled.accordio.alpha
            .title.zoome
                .ui.inline.header 
                    +i name='time-card'
                    |timecard
                // .ui.big.label 
                //     |#{currentUser.status}
                if currentUser.clockedin
                    .ui.big.green.label 
                        |clocked in since {{from_now active_clockin_doc._timestamp}}
                    .ui.compact.basic.button.clockout
                        +i name='exit'
                        |clock out
                else 
                    .ui.button.clockin
                        +i name='clock'
                        |clock in
                a.toggle_view.zoomer.pointer.floated.right(title='toggle expand')
                    +i name='resize' cl='zoomer middle aligned'
            .ui.equal.width.padded.grid
                .content.medscroll.column
                    .ui.list 
                        .item hours today: #{hours_today}
                        .item #{sessions_today_count} sessions today
                        .item hours this week: #{hours_week}
                        .item #{week_shift_count} shifts this week
                        .item hours this pay period #{hours_payperiod}
                if session_is 'expand' true
                    .column.medscroll.hide
                        .ui.divided.list 
                            each staff_session_docs 
                                .item 
                                    .ui.inline.header #{duration} mins
                                    +author_info
                                    if active 
                                        .ui.green.big.label 
                                            |active since #{_when}
                                    else 
                                        .ui.small.basic.label 
                                            i.green.sign.in.icon
                                            |{{long_date _timestamp}}
                                        .ui.small.basic.label 
                                            |{{from_now _timestamp}}
                                        |to
                                        .ui.small.basic.label 
                                            i.red.sign.out.icon
                                            |{{long_date clockout_timestamp}}
                                        .ui.small.basic.label 
                                            |{{from_now clockout_timestamp}}
                                    if currentUser.admin_mode 
                                        +remove_button
        // if currentUser.admin_mode
        //     +add_user_button
        //     +call_method name='convert_units'
        // unless currentUser
        //     .ui.massive.icon.input.lookup_user
        //         i.search.icon
        //         input.search_user(type='text' placeholder='search user...')
        //     each checkedout_user_docs 
        //         a.ui.big.image.label.pick_user 
        //             img.ui.avatar.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        //             |#{username}
        //             |#{building_number}: ##{unit_number}
        // if currentUser 
        //     if currentUser.checkedin 
        //         .ui.header currently checked in
        //         .ui.big.button.checkout
        //             +i name='exit'
        //             img.ui.avatar.image(src="{{c.url currentUser.image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        //             |check out as #{currentUser.username}
        //     else 
        //         .ui.big.button.checkin 
        //             +i name='internal'
        //             img.ui.avatar.image(src="{{c.url currentUser.image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        //             |check in as #{currentUser.username}



template(name='staff_tasks')  
    .ui.fluid.accordion.alpha.rounded
        .title.zoomer
            // a.ui.header.zoomer.fly_right(href='/tasks')
            .ui.header
                +i name='tasks'
                |#{staff_task_docs.count} staff tasks
                i.dropdown.icon
        // .ui.icon.fluid.input 
        //     i.plus.icon
        //     input.task_quickadd(type='text' placeholder='quickadd')
        // +sort_direction_toggle
        // +session_set key='sort_key' value='_timestamp' label='when' icon='clock'
        // +session_set key='sort_key' value='building_number' label='building' icon='building'
        // +session_set key='sort_key' value='unit_number' label='unit' icon='room'
        // +session_set key='sort_key' value='complete' label='complete' icon='checkmark'
        // +session_set key='sort_key' value='_author_username' label='author' icon='user'
        .content
            if subs_ready
                .ui.divided.large.list.medscroll 
                    each staff_task_docs 
                        // a.item.fly_right(href="/task/#{_id}")
                        .item
                            .header
                                if image_id
                                    img.ui.tiny.inline.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                // if complete 
                                //     i.large.green.checkmark.icon 
                                // else 
                                i.large.circle.outline.link.icon.zoomer.mark_did(title='mark complete')
                                |#{title}
                            .content 
                                // +author_info
                                // if building_number
                                //     +bu
                                |!{description}
            else 
                i.big.loading.refresh.icon


template(name='staff_activity')
    .ui.accordion.alpha
        .title
            .ui.header.zoomer 
                +i name='realtime-protection'
                |#{staff_activity_docs.count} staff activity
                i.dropdown.icon
        .content
            .ui.small.divided.list.medscroll
                each staff_activity_docs 
                    .item.zoomer
                        |#{task_title}
                        +author_info
                        |{{long_date _timestamp}}
                        +read_info_small
    // .ui.inline.grey.header 
    //     // i.hiking.icon
    //     +i name='walking' classes='ui inline image'                
    //     |shift walks
    // .ui.icon.button.log_staff_walked(title='log hourly shift walk')
    //     i.plus.icon    
    // .ui.divided.selection.list
    //     each shift_walks
    //         // .item #{_when} 
    //         .item.zoomer
    //             +author_info
    //             if currentUser.admin_mode
    //                 i.remove.small.link.icon.remove_walk(title='remove walk entry')
    // if checklist_completed
    //     +i name='todo-list' classes='ui inline image'
    //     // i.big.green.checkmark.icon
    //     |shift checklist completed
    // else 
    //     a.ui.fluid.big.button(href='/shift_checklist')
    //         // i.large.tasks.icon
    //         +i name='to-do' classes='ui inline mini image'
    //         |checklist not completed

                
template(name='admin')
    .ui.accordion.alpha 
        .title 
            .ui.header 
                +i name='shield'
                |admin 
                i.dropdown.icon
        .ui.big.button.unparse
            |unparse
        .content
            .ui.input
                input.upload_parking(type='file')
   
template(name='stats')
    .ui.accordion.alpha 
        .title
            .ui.inline.header
                +i name='line-chart'
                |global stats
                i.dropdown.icon
        .content
            if currentUser
                i.refresh.link.icon.zoomer.refresh_stats(title='refresh stats')
            .ui.big.list 
                with global_stats_doc 
                    .item 
                        +i name='groups'
                        |#{user_count_total} users
                    .item 
                        // i.checkmark.icon
                        +i name='checkmark'
                        |#{checkin_count_total} check ins
                    .item
                        +i name='tasks'
                        |#{task_count_total} tasks
                    .item
                        +i name='friends'
                        |#{guest_count_total} guests
                    .item
                        +i name='key'
                        |#{key_count_total} keys
template(name='guest_block')
    .ui.accordion.alpha
        .title
            .ui.header 
                +i name='amiable'
                |guests
                i.dropdown.icon
        .content
            .ui.selection.animated.big.list.medscroll
                each guest_docs
                    .item 
                        .header #{name} 
                        |#{_resident.username} #{_when}
                        +bu
                        if currentUser.admin_mode
                            +print_this
                        a.ui.circular.icon.button(href="/guest/#{_id}")
                            i.chevron.right.large.icon
                
template(name='latest_requests')
    .ui.accordion.alpha
        .title
            // a.ui.header.zoomer(href="/tasks" title='view all tasks')
            .ui.header.zoomer
                +i name='wrench'
                |#{kiosk_task_docs.count}
                |latest requests
        .content
            .medscroll
                each kiosk_task_docs
                    .ui.segment
                        // img.ui.tiny.inline.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.inline.header #{title}
                        |!{content} !{description}
                        +bu
                        |#{_when}
                        |#{resident_username}
                        a.fly_down(href="/task/#{_id}" title='view task')
                            i.large.chevron.right.link.circular.icon.zoomer
template(name='hiring_interest')
    .ui.fluid.accordion.alpha.rounded
        .title.zoomer
            .ui.header 
                +i name='money'
                |#{yes_answers.count}
                |hiring interest
                i.dropdown.icon
        .content.medscroll
            .ui.small.header 
                i.checkmark.green.icon
                |yes
            .ui.list
                each yes_answers
                    .item #{name}
                        small #{username}
                        .ui.label
                            i.info.icon
                            |#{contact_info}
                        +bu
                        if currentUser.admin_mode
                            i.ban.icon.clear_answer
            .ui.small.header 
                i.ban.red.icon
                |no
            each no_answers
                .ui.label #{username}
                    if currentUser.admin_mode
                        i.ban.icon.clear_answer
template(name='latest_notes')
    .ui.accordion.alpha 
        .title 
            // a.ui.header.zoomer(href="/posts" title='view posts')
            .ui.header.zoomer(title='view posts')
                +i name='chat'
                |#{latest_note_docs.count} latest notes
                i.dropdown.icon
        .content
            .medscroll
                each latest_note_docs
                    .ui.segment
                        // if image_id
                        //     img.ui.tiny.inline.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        // a.ui.inline.header.fly_down(href="/post/#{_id}")  !{content}
                        // +bu
                        if currentUser.admin_mode
                            +print_this
                        |#{_when}
                        .ui.header #{body}
                        // a.ui.large.icon.basic.circular.button.fly_down(href="/post/#{_id}") 
                        //     i.large.chevron.right.icon
            
template(name='view_button')
    .ui.icon.button.fly_right(href="/#{model}/#{_id}")
        i.large.chevron.right.icon
            
template(name='latest_rentals')
    .ui.accordion.alpha
        .title
            // a.ui.header(href="/rentals" title='view rentals')
            .ui.header(title='view rentals')
                +i name='basketball'
                |latest rentals
                i.dropdown.icon
        .content
            .medscroll
                each rental_item_docs
                    .ui.segment
                        img.ui.tiny.inline.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .ui.inline.header #{title}
                            small #{_when}
                        // .ui.button.checkout_rental
                        //     i.big.checkmark.icon
                        //     // |checkout
                
template(name='active_checkins')
    .ui.accordion.alpha.rounded 
        .title
            // a.ui.header.zoomer(href="/checkins" title='view checkins')
            .ui.header.zoomer(title='view checkins')
                +i name='clock'
                |#{active_checkin_docs.count} checkins today 
                span(title='unread checkin count') (#{unread_checkin_count})
                i.dropdown.icon
        .content
            if subs_ready
                .ui.divided.selection.list.medscroll
                    each active_checkin_docs 
                        +active_checkin_doc
            else 
                i.massive.loading.refresh.icon
        
template(name='active_checkin_doc')
    .item.zoomer.mark_read
        .content
            a.ui.large.basic.label.fly_down.zoomer(href="/user/#{resident_username}" title='view user') 
                | #{_resident.first_name}
                | #{_resident.last_name}
            +bu
            | #{_when}
            small {{cal_time _timestamp}}
            if notes 
                .ui.big.label 
                    +i name='note'
                    |#{notes}
            if has_guests
                +i name='groups'
            a.fly_down(href="/checkin/#{_id}" title=resident_user_id)
                i.circular.chevron.right.link.large.icon.zoomer
            if dev 
                i.large.code.icon(title='dev')
            if rental_id 
                +i name='clock'
            +checkin_purpose_label
            i.sign.out.red.large.circular.link.icon.checkout.zoomer(title='check out')
            +read_info_small
            
            
template(name='read_info_small')
    span(title='views')
        i.grey.eye.icon 
        |#{views}
    // |viewed by 
    each _viewers
        .ui.small.label(title='viewed by') #{name}
                    
template(name='checkin_purpose_label')
    if checkin_purpose
        .ui.large.label 
            +i name=icon_class
            |#{checkin_purpose}
        
        
        
template(name='latest_activity')
    .ui.accordion.alpha 
        .title
            .ui.header 
                +i name='clock'
                |#{activity_docs.count} latest activity
                span(title='unread count') (#{unread_activity_docs})
                i.dropdown.icon
                
        .content
            if subs_ready
                .ui.divided.list.smallscroll
                    each latest_docs 
                        if is model 'checkin'
                            +checkin_item_home
                        else 
                            // a.ui.item(href="/#{_parent_doc.model}/#{parent_id}") #{body} 
                            a.ui.item.mark_read #{body} 
                                small #{_when} by #{_author_username}
                                // .ui.label #{type}
                                .ui.label #{model}
                                +read_info_small
                .ui.small.header
                    +i name='rss'
                    |latest logs
                .ui.divided.list.smallscroll
                    each log_docs 
                        a.ui.item(href="/#{_parent_doc.model}/#{parent_id}") #{body} 
                            small #{_when} by #{_author_username}
                            .ui.label #{type}
                            +read_info_small
            else 
                i.massive.loading.refresh.icon

                
template(name='latest_checkins')
    .ui.segment.alpha.rounded
        .ui.header 
            +i name='history'
            |#{latest_checkin_docs.count}
            |latest checkins 
        .ui.selection.divided.list.medscroll
            each latest_checkin_docs 
                +checkin_item
        
template(name='checkin_item_home')
    // a.item.fly_right(href="/checkin/#{_id}" title="view checkin") 
    .item
        if active
            i.large.green.checkmark.icon
        else 
            i.large.red.sign.out.alternate.icon
        |#{_when}
        |#{resident_username}
        with _resident
            +verification_label
        
        // +author_info
        if currentUser.admin_mode
            i.red.circular.remove.icon.delete_checkin
        a.ui.circular.icon.button.zoomer.fly_right(href="/checkin/#{_id}" title='view checkin')
            i.chevron.right.icon

template(name='verification_label')        
    if verified 
        .ui.image.large.label
            +i name='id-verified'
            |verified
    else 
        .ui.image.large.label
            +i name='id-not-verified'
            |unverified
        
        
                
template(name='parent_info')
    .ui.large.label
        with _parent_doc 
            +model_label
            |#{title}
                
                    
template(name='home_button')
    a.ui.big.circular.compact.image.label.fly_down(href="/#{key}")
        +i name=icon
        |#{key}
