template(name='nav')
    // #topnav.topnav.ui.attached.borderless.big.four.item.menu.hscroll(class=darkmode_class)
        https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    // #topnav.topnav.ui.attached.borderless.large.menu.hscroll
    #topnav.topnav.ui.attached.borderless.menu.hscroll(class="{{currentUser.navbar_class}} {{currentUser.navbar_color}} {{currentUser.navbar_size}}")
        if is_connected
            // a.icon.item.toggle_leftbar.zoomer
            //     i.large.bars.grey.zoomer
            a.header.item.zoomer2(href="/" title='home')
                // if in_dev 
                //     i.large.code.icon
                // else 
                //     // +i name='one-ring'
                +i name='home'
                // if currentUser.show_labels
                span.mobile.hidden gold run
            // a.item(href='/global_stats' class="{{isActivePath '/global_stats'}}")
            //     +i name='line-chart'
            a.zoomer2.item(href="/buildings" class="{{isActiveRoute 'buildings'}}" title='buildings')
                // i.large.exchange.icon
                +i name='building'
                span.mobile.hidden.zoomer #{global_stats_doc.building_count_total} buildings
            a.zoomer2.item(href="/units" class="{{isActiveRoute 'units'}}" title='units')
                // i.large.exchange.icon
                +i name='room'
                span.mobile.hidden.zoomer #{global_stats_doc.unit_count_total} units
            a.item.zoomer2.clear_search(href="/users" class="{{isActiveRoute 'users'}}" title='users')
                +i name='groups'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden.zoomer #{global_stats_doc.user_count_total} people
                
            a.zoomer2.item(href="/kiosk" class="{{isActiveRoute 'kiosk'}}" title='kiosk' target="_window")
                // i.large.exchange.icon
                +i name='ipad'
                i.external.icon
                span.mobile.hidden.zoomer kiosk
            // a.item(href="/healthclub" class="{{isActiveRoute 'healthclub'}}" title='healthclub')
            //     // i.large.users.icon
            //     +i name='fitness'
            //     .mobile.hidden healthclub

            // if currentUser
            //         a.item.zoomer2.clear_read(title='mark all read')
            //             // i.envelope.icon
            //             +i name='alarm'
            //             i.remove.icon
        unless subs_ready
            .icon.item
                // +i name='one-ring' cl='spinning'
                i.yin.yang.massive.loading.grey.icon
        unless is_connected
            a.item.zoomer2.reconnect
                i.spinner.big.loading.icon
                +i name='disconnected'
                |reconnect
                i.large.circular.refresh.link.zoomer2.reconnect(title='reconnect now')
        .right.menu
            a.item.toggle_darkmode.zoomer(title='toggle darkmode')
                if is_darkmode
                    i.large.moon.icon.zoomer
                else
                    i.large.sun.icon.zoomer
            unless currentUser
                a.item(href="/register" title='register')
                    +i name='plus'
                    span.mobilehidden register            
                a.item(href='/login' title='login' class="{{isActiveRoute 'login'}}" ) 
                    // i.sign.in.large.green.zoomer2
                    +i name='enter-2'
                    span.mobile.hidden.zoomer login
            if currentUser
                a.item(href="/inbox" class="{{isActiveRoute 'inbox'}}" title='inbox')
                    +i name='inbox'
                    if unread_count
                        strong #{unread_count}
                if currentUser.points 
                    a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_points'}}" title='points')
                        |#{currentUser.points}
                        +i name='coins'
                a.zoomer2.item.tada(href="/user/#{currentUser.username}" class=user_nav_button_class title='profile' class="{{isActiveRoute 'profile'}}" )
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=300 height=300 gravity='face' crop='fill'}}")
                    else
                        // i.user.icon
                        +i name='user-male'
                    strong #{currentUser.username}
                    |&nbsp;
                // a.icon.item(href="/mail/inbox")
                a.icon.item(href="/user/#{currentUser._id}/edit" title='account settings')
                    i.cog.large.icon
    if is_connected
        // .ui.attached.borderless.menu.hscroll.secnav
        .ui.attached.borderless.menu.hscroll.secnav(class="{{currentUser.navbar_class}} {{currentUser.navbar_color}} {{currentUser.navbar_size}}")
            // a.zoomer2.item(href="/products" class="{{isActiveRoute 'products'}}" title='products')
            //     // i.large.exchange.icon
            //     +i name='cart'
            //     span.mobile.hidden.zoomer products
            a.zoomer2.item(href="/groups" class="{{isActiveRoute 'groups'}}" title='groups')
                // i.large.exchange.icon
                +i name='campfire'
                span.mobile.hidden.zoomer groups
            a.item.zoomer2.clear_search(href="/checkins" class="{{isActiveRoute 'checkins'}}" title='checkins')
                +i name='checkmark'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden.zoomer #{global_stats_doc.checkin_count_total} checkins
            if currentUser
                a.item.zoomer2.clear_search(href="/keys" class="{{isActiveRoute 'keys'}}" title='keys')
                    +i name='key'
                    // i.large.users.icon
                    // if currentUser.show_labels
                    span.mobile.hidden.zoomer #{global_stats_doc.key_count_total} keys
            a.item.zoomer2.clear_search(href="/tasks" class="{{isActiveRoute 'tasks'}}" title='checkins')
                +i name='tasks'
                .mobile.hidden #{global_stats_doc.task_count_total} tasks
                // i.large.users.icon
                // if currentUser.show_labels
                // span.mobile.hidden.zoomer tasks
            a.item.zoomer2.clear_search(href="/rentals" class="{{isActiveRoute 'rentals'}}" title='rentals')
                +i name='clock'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden.zoomer rentals
            a.item.zoomer2.clear_search(href="/events" class="{{isActiveRoute 'events'}}" title='events')
                +i name='calendar'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden.zoomer schedule
            a.zoomer2.item(href="/violations" class="{{isActiveRoute 'violations'}}" title='violations')
                // i.large.exchange.icon
                // +i name='alert'
                +i name='warning-shield'
                span.mobile.hidden.zoomer violations
                
            a.item.zoomer2.clear_search(href="/guests" class="{{isActiveRoute 'guests'}}" title='guests')
                +i name='amiable'
                span.mobile.hidden.zoomer #{global_stats_doc.guest_count_total} guests
            a.item.zoomer2.clear_search(href="/spaces" class="{{isActiveRoute 'spaces'}}" title='spaces')
                +i name='car'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden.zoomer parking
            // a.item.zoomer2.clear_search(href="/orders" class="{{isActiveRoute 'orders'}}" title='orders')
            //     +i name='history'
            //     // i.large.users.icon
            //     // if currentUser.show_labels
            //     span.mobile.hidden.zoomer orders
            // a.zoomer2.item(href="/services" class="{{isActiveRoute 'services'}}" title='services')
            //     // i.large.exchange.icon
            //     +i name='bell'
            //     span.mobile.hidden.zoomer services
            a.item.zoomer2.clear_search(href="/readings" class="{{isActiveRoute 'readings'}}" title='readings')
                +i name='water'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden.zoomer readings
            a.item.zoomer2.clear_search(href="/posts" class="{{isActiveRoute 'posts'}}" title='posts')
                +i name='news'
                span.mobile.hidden.zoomer #{global_stats_doc.post_count_total} posts

template(name='nav_item')
    a.item.zoomer.fly_right.clear_search.go_route.tada.mobile.hidden(href="/#{key}s" class="{{nav_item_class key}}" title=key)
        +i name=icon
        // i.large.icon(class=icon)
        if currentUser.show_labels
            span.mobile.hidden.zoomer #{key}s

       
template(name='footer')
    if currentUser
        .ui.fluid.segment.stackable.grid.alpha
            .two.column.row
                .column
                    // .ui.accordion
                    //     .title.zoomer
                    //         .ui.small.inline.header 
                    //             |goldrun is community supported and will never sell your info
                    //         // i.dropdown.grey.icon
                    //     .content
                    //         img.ui.image(src="{{c.url 'dao_venmo'}}")
                    // +music
                    if currentUser
                        with currentUser
                            +boolean_edit key='admin_mode' label='admin mode' icon='user-shield'
                            
                    if currentUser.admin_mode
                        .ui.inline.header 
                            i.blog.icon
                            | #{all_docs.count}
                            |docs
                        each all_docs 
                            .ui.label 
                                // img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                                |#{title}
                                // +model_label
                                |[#{model}]
                                |#{building_number}
                                +print_this
                                |#{when}
                if currentUser.admin_mode
                    .column
                        +footer_chat
                        .ui.inline.header 
                            i.chess.icon
                            |#{result_docs.count}
                            |results
                        each result_docs 
                            .ui.label #{name}: #{count} [#{model}]
                        .ui.inline.header 
                            i.users.icon
                            |#{all_users.count}
                            |users
                        each all_users
                            a.ui.image.label.zoomer(href="/user/#{username}") 
                                if image_id
                                    img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                                |#{username}
                                |#{building_number}: #{unit_number}
                                
                            +print_this


template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


// template(name='latest_activity')
//     .ui.grey.header 
//         i.grey.rss.icon
//         |all activity
//     .ui.list
//         each latest_activity
//             .item 
//                 img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
//                 |#{text} #{body} 
//                 .ui.label #{log_type}
//                 small #{when}

                
template(name='footer_chat')
    .ui.grey.inline.header 
        i.outline.comments.icon
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')


