template(name='nav')
    // #topnav.topnav.ui.attached.borderless.big.four.item.menu.hscroll(class=darkmode_class)
        https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    #topnav.topnav.ui.attached.borderless.big.black.menu.hscroll
        if is_connected
            // a.icon.item.toggle_leftbar.zoomer
            //     i.large.bars.grey.zoomer
            a.header.item.zoomer(href="/" title='home')
                +i name='home'
                // if currentUser.show_labels
                span.mobile.hidden gold run
            // a.item(href='/global_stats' class="{{isActivePath '/global_stats'}}")
            //     +i name='line-chart'
            a.zoomer.item(href="/buildings" class="{{isActiveRoute 'buildings'}}" title='buildings')
                // i.large.exchange.icon
                +i name='building'
                span.mobile.hidden buildings
            a.zoomer.item(href="/units" class="{{isActiveRoute 'units'}}" title='units')
                // i.large.exchange.icon
                +i name='cube'
                span.mobile.hidden units
            a.item.zoomer.clear_search(href="/users" class="{{isActiveRoute 'users'}}" title='users')
                +i name='users'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden people
                
            a.zoomer.item(href="/kiosk" class="{{isActiveRoute 'kiosk'}}" title='kiosk' target="_window")
                // i.large.exchange.icon
                +i name='tablet'
                i.external.icon
                span.mobile.hidden kiosk
            // a.item(href="/healthclub" class="{{isActiveRoute 'healthclub'}}" title='healthclub')
            //     // i.large.users.icon
            //     +i name='fitness'
            //     .mobile.hidden healthclub

            // if currentUser
            //         a.item.zoomer.clear_read(title='mark all read')
            //             // i.envelope.icon
            //             +i name='alarm'
            //             i.remove.icon
        unless subs_ready
            .icon.item
                +i name='one-ring' cl='spinning'
                // i.yin.yang.large.loading.icon
        unless is_connected
            a.item.zoomer.reconnect
                i.spinner.big.loading.icon
                +i name='disconnected'
                |reconnect
                i.large.circular.refresh.link.zoomer.reconnect(title='reconnect now')
        .right.menu
            unless currentUser
                a.item(href="/register" title='register')
                    +i name='plus'
                    span.mobilehidden register            
                a.item(href='/login' title='login' class="{{isActiveRoute 'login'}}" ) 
                    // i.sign.in.large.green.zoomer
                    +i name='internal'
                    span.mobile.hidden login
            if currentUser
                a.item(href="/inbox" class="{{isActiveRoute 'inbox'}}" title='inbox')
                    +i name='inbox'
                    if unread_count
                        strong #{unread_count}
                // if currentUser.points 
                    a.item(href="/user/#{currentUser.username}/points" class="{{isActiveRoute 'user_points'}}" title='points')
                        +i name='coins'
                        |#{points}pts
                a.fly_up.zoomer.item.tada(href="/user/#{currentUser.username}" class=user_nav_button_class title='profile' class="{{isActiveRoute 'profile'}}" )
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=300 height=300 gravity='face' crop='fill'}}")
                    else
                        // i.user.icon
                        +i name='user-male'
                    strong #{currentUser.username}
                    |&nbsp;
                // a.icon.item(href="/mail/inbox")
    if is_connected
        .ui.attached.borderless.menu.hscroll.secnav
            // a.zoomer.item(href="/products" class="{{isActiveRoute 'products'}}" title='products')
            //     // i.large.exchange.icon
            //     +i name='cart'
            //     span.mobile.hidden products
            // a.zoomer.item(href="/groups" class="{{isActiveRoute 'groups'}}" title='groups')
            //     // i.large.exchange.icon
            //     +i name='users'
            //     span.mobile.hidden groups
            if currentUser
                a.item.zoomer.clear_search(href="/checkins" class="{{isActiveRoute 'checkins'}}" title='checkins')
                    +i name='checkmark'
                    // i.large.users.icon
                    // if currentUser.show_labels
                    span.mobile.hidden checkins
                a.item.zoomer.clear_search(href="/keys" class="{{isActiveRoute 'keys'}}" title='keys')
                    +i name='key'
                    // i.large.users.icon
                    // if currentUser.show_labels
                    span.mobile.hidden keys
            a.item.zoomer.clear_search(href="/rentals" class="{{isActiveRoute 'rentals'}}" title='rentals')
                +i name='clock'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden rentals
            // a.item.zoomer.clear_search(href="/events" class="{{isActiveRoute 'events'}}" title='events')
            //     +i name='calendar'
            //     // i.large.users.icon
            //     // if currentUser.show_labels
            //     span.mobile.hidden events
            a.zoomer.item(href="/violations" class="{{isActiveRoute 'violations'}}" title='violations')
                // i.large.exchange.icon
                +i name='alert'
                span.mobile.hidden violations
                
            a.item.zoomer.clear_search(href="/guests" class="{{isActiveRoute 'guests'}}" title='guests')
                +i name='friends'
                span.mobile.hidden guests
            a.item.zoomer.clear_search(href="/spaces" class="{{isActiveRoute 'spaces'}}" title='spaces')
                +i name='car'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden parking
            // a.item.zoomer.clear_search(href="/orders" class="{{isActiveRoute 'orders'}}" title='orders')
            //     +i name='history'
            //     // i.large.users.icon
            //     // if currentUser.show_labels
            //     span.mobile.hidden orders
            // a.zoomer.item(href="/services" class="{{isActiveRoute 'services'}}" title='services')
            //     // i.large.exchange.icon
            //     +i name='bell'
            //     span.mobile.hidden services
            a.item.zoomer.clear_search(href="/readings" class="{{isActiveRoute 'readings'}}" title='readings')
                +i name='water'
                // i.large.users.icon
                // if currentUser.show_labels
                span.mobile.hidden readings
            a.item.zoomer.clear_search(href="/posts" class="{{isActiveRoute 'posts'}}" title='posts')
                +i name='news'
                .mobile.hidden posts
            a.item.zoomer.clear_search(href="/tasks" class="{{isActiveRoute 'tasks'}}" title='checkins')
                +i name='tasks'
                .mobile.hidden tasks
                // i.large.users.icon
                // if currentUser.show_labels
                // span.mobile.hidden tasks

template(name='nav_item')
    a.item.zoomer.fly_right.clear_search.go_route.tada.mobile.hidden(href="/#{key}s" class="{{nav_item_class key}}" title=key)
        +i name=icon
        // i.large.icon(class=icon)
        if currentUser.show_labels
            span.mobile.hidden #{key}s

       
template(name='footer')
    if currentUser
        .ui.fluid.segment.stackable.grid.alpha
            .two.column.row
                .column
                    // .ui.accordion
                    //     .title.zoomer
                    //         .ui.small.inline.header 
                    //             |goldrun is community supported and will never sell your info
                    //         // i.dropdown.grey.icon
                    //     .content
                    //         img.ui.image(src="{{c.url 'dao_venmo'}}")
                    // +music
                    if currentUser
                        with currentUser
                            +boolean_edit key='admin_mode' label='admin mode' icon='shield'
                            
                    if currentUser.admin_mode
                        .ui.inline.header 
                            i.blog.icon
                            | #{all_docs.count}
                            |docs
                        each all_docs 
                            .ui.image.label 
                                img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                                |#{title}
                                // +model_label
                                |[#{model}]
                                |#{building_number}
                                +print_this
                                |#{when}
                if currentUser.admin_mode
                    .column
                        +footer_chat
                        .ui.inline.header 
                            i.chess.icon
                            |#{result_docs.count}
                            |results
                        each result_docs 
                            .ui.label #{name}: #{count} [#{model}]
                        .ui.inline.header 
                            i.users.icon
                            |#{all_users.count}
                            |users
                        each all_users
                            a.ui.image.label.zoomer(href="/user/#{username}") 
                                if image_id
                                    img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                                |#{username}
                                |#{building_number}: #{unit_number}
                                
                            +print_this


template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


// template(name='latest_activity')
//     .ui.grey.header 
//         i.grey.rss.icon
//         |all activity
//     .ui.list
//         each latest_activity
//             .item 
//                 img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
//                 |#{text} #{body} 
//                 .ui.label #{log_type}
//                 small #{when}

                
template(name='footer_chat')
    .ui.grey.inline.header 
        i.outline.comments.icon
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')


