template(name='buildings')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='apartment'
                |buildings
            .ui.icon.button.add_building
                i.plus.icon
        .twelve.wide.column
            .ui.inline.header(title='result count') #{result_docs.count}
            // +search_input key='title'
            +session_icon_button key='view_mode' value='grid' icon='th' 
            +session_icon_button key='view_mode' value='list' icon='list'
            
            +sort_direction_toggle
            // +sort_key_toggle
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='points' label='points' icon='hashtag'
            +session_set key='sort_key' value='views' label='views' icon='eye'
            +session_set key='sort_key' value='intFormedYear' label='year started' icon='calendar'
            // +session_set key='limit' value=10
            // +session_set key='limit' value=25
            // +session_set key='limit' value=100
            if subs_ready
                if session_is 'view_mode' 'grid'
                    if one_result
                        .ui.stackable.centered.one.cards
                            each building_docs
                                +building_card
                    else
                        .ui.stackable.centered.centered.cards
                            each building_docs
                                +building_card
                else
                    .ui.divided.selection.animated.list
                        each building_docs
                            +building_item

                    
template(name='building_item')
    a.ui.item.zoomer.fly_right(class=product_card_class title=ingredients href="/building/#{building_number}")
        img.ui.small.inline.image.zoomer(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            .ui.header ##{building_number}
            .ui.inline.header 
                +i name='room'
                |units
            each units 
                .ui.label ##{unit_number}
            .ui.inline.small.grey.header 
                +i name='groups'
                |residents
            each units 
                .ui.label ##{unit_number}
            .ui.inline.small.grey.header 
                +i name='rent'
                |owners
            each units 
                .ui.label ##{unit_number}
            .ui.inline.small.grey.header 
                +i name='foul'
                |violations
            each units 
                .ui.label ##{unit_number}
            .ui.inline.small.grey.header 
                +i name='foul'
                |comments
            each units 
                .ui.label ##{unit_number}
            each location_tags 
                .ui.basic.label #{this}

template(name='building_card')
    a.ui.card.zoomer.fly_right(class=product_card_class title=ingredients href="/building/#{building_number}")
        img.ui.centered.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            .ui.header ##{building_number}
            .ui.inline.header 
                +i name='room'
                |units
            each units 
                .ui.label ##{unit_number}
            each location_tags 
                .ui.basic.label #{this}


template(name='building_view')
    with current_building
        .ui.stackable.padded.grid
            .eight.wide.column
                a.ui.big.button(href="/buildings")
                    i.large.left.chevron.icon
                    // |#{building_code}
                    +i name='apartment'
                    |buildings
                .ui.inline.header
                    // i.home.icon 
                    +i name='apartment'
                    |building
                    |#{building_number}
                if can_edit 
                    a.ui.icon.large.compact.button(href="/building/#{_id}/edit" title='edit')
                        i.large.pencil.icon
                +image_view key='image_id' direct=true
                .ui.header 
                    |building ##{building_number}
                .ui.header 
                    |building letter: #{building_letter}
                +user_key
            .eight.wide.column
                +building_residents
                +building_owners
                .ui.header 
                    +i name='room'
                    |building units
                .ui.selection.list
                    each building_unit_docs
                        a.item(href="/unit/#{_id}") 
                            img.ui.tiny.inline.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                            .ui.inline.header #{unit_number}
                if is_springdale
                    +building_permits

            
template(name='building_permits')            
    .ui.segment
        .ui.header 
            +i name='badge'
            |building permits
        .ui.cards
            each permits
                .ui.card
                    .content
                        with resident 
                            +username_info
                        +date_view key='expiration_date' icon='calendar delete' direct=true
                        +text_view key='permit' icon='badge' direct=true
                        +text_view key='license_plate' icon='driver-license-card' direct=true

template(name='building_owners')            
    .ui.segment
        .ui.header 
            +i name='rent'
            // i.money.icon
            |building owners
        .ui.four.cards
            each building_owner_docs
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            //- +array_view key='tags' label='Tags' direct=true

template(name='building_residents')            
    .ui.segment
        .ui.header
            +i name='groups'
            // i.users.icon
            |building residents
        .ui.list
            each building_resident_docs
                .ui.item
                    img.ui.tiny.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header.fly_right(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            .meta 
                                i.calendar.icon(title='expiration date')
                                |#{expiration_date}
                            //- +array_view key='tags' label='Tags' direct=true



template(name='building_edit')         
    with current_doc
        .ui.padded.two.column.centered.grid
            .column
                +image_edit key='image_id' direct=true
                h2.ui.center.aligned.header #{building_number} #{building_number} 
                +number_edit key='building_number' label='building number' direct=true
                div
                +text_edit key='building_letter' label='building code' direct=true
                div
                +text_edit key='address' label='address' direct=true
                +html_edit key='notes' direct=true
                
            .column
                a.ui.big.fluid.green.button.fly_down(href="/building/#{building_number}")
                    i.checkmark.big.icon
                    |save