template(name='checkin_edit')         
    with current_doc
        .ui.padded.one.column.center.aligned.grid
            .column
                with _resident
                    .ui.massive.inline.header #{first_name} #{last_name}
                    .ui.big.basic.circular.label 
                        +i name='apartment'
                        |building ##{building_number}
                    .ui.big.basic.circular.label
                        +i name='room'
                        |unit ##{unit_number}
                    if verified 
                        .ui.large.basic.circular.label 
                            +i name='id-verified'
                            |id verified
                    else 
                        .ui.large.basic.circular.label 
                            +i name='id-not-verified'
                            |id unverified
                    .ui.hidden.divider
                    +image_edit key='image_id' label='profile image'
                    // if email_verified 
                    //     .ui.big.label 
                    //         +i name='id-verified'
                    //         |email verified
                    // else 
                    //     .ui.big.label 
                    //         +i name='id-not-verified'
                    //         |email unverified
                // +text_edit key='email' label='Email' direct=true
                .ui.header 
                    +i name='get-along'
                    |guests
                    small (max 8/month, 3/visit)

                // .ui.big.button.add_guest.bigger
                //     i.plus.icon 
                //     |add guest
                each resident_guests 
                    .ui.big.button.pick_guest(class=guest_class)
                        i.large.user.icon
                        |#{name}
                .ui.big.icon.fluid.active.input  
                    i.large.user.plus.icon
                    input.add_guest(type='text' placeholder='new guest name')
                .ui.header
                    |purpose
                +key_value_edit key='checkin_purpose' value='gym' label='gym' icon='fitness' cl='massive circular'
                +key_value_edit key='checkin_purpose' value='pool' label='pool' icon='pool' cl='massive circular'
                +key_value_edit key='checkin_purpose' value='hottub' label='hottub' icon='jacuzzi' cl='massive circular'
                +key_value_edit key='checkin_purpose' value='racquetball' label='racquetball' icon='racquetball' cl='massive circular'
                +key_value_edit key='checkin_purpose' value='rental' label='rental' icon='basketball' cl='massive circular'
                +key_value_edit key='checkin_purpose' value='garden' label='garden' icon='garden' cl='massive circular'
                +key_value_edit key='checkin_purpose' value='key' label='key' icon='key' cl='massive circular'
                +key_value_edit key='checkin_purpose' value='other' label='other' icon='where-to-quest' cl='massive circular'
                .ui.hidden.divider
                a.ui.massive.fluid.green.circular.button.submit_checkin(href="/kiosk")
                    i.checkmark.big.icon
                    .ui.inline.inverted.header complete check in
                .ui.hidden.divider
                .ui.basic.red.circular.fluid.large.compact.button.cancel_checkin
                    i.big.ban.icon
                    |cancel




// template(name='kiosk_container')
//     with kiosk_doc
//         +Template.dynamic template=kiosk_view
template(name='session_item')
// template(name='staff')
//     .ui.stackable.padded.grid
//         .row
//             .four.wide.column
//                 .ui.large.inline.header 
//                     //- i.user.shield.icon
//                     +i name='user-shield'
//                     |staff
//                 //- i.massive.loading.brown.poo.icon
//                 a.ui.large.button.add_resident
//                     //- i.user.add.large.icon
//                     +i name='add-user-male' classes='ui inline mini image'
//                     strong add resident
//                 // .ui.header
//                 //     |#{checkedin_members.count} checked in members
//                 .ui.header 
//                     // i.clock.icon
//                     +i name='clock'
//                     |old checkins
//                 .ui.list 
//                     each old_session_docs 
//                         .item #{when} #{resident_name}

//             .twelve.wide.column
//                 // .ui.styled.fluid.large.accordion
//                 // .active.title
//                 +checkin_input

//                 .ui.header
//                     +i name='groups' classes='ui inline image'
//                     |#{active_sessions.count} active sessions
//                     // i.dropdown.icon
//                 // .active.content
//                 .ui.stackable.doubling.centered.cards
//                     each active_sessions
//                         +session_card

template(name='checkin_input')
    .ui.massive.fluid.left.icon.input
        input.name_search(type='text' placeholder='resident first or last name...' autofocus)
        if is_query
            i.remove.link.icon.clear_results
        else 
            i.search.icon
    each search_results
        +checkin_button



template(name='checkin')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.grid.header-wrapper
        //- +Template.dynamic template=kiosk_view
        .row
            .sixteen.wide.center.aligned.column
                if is_staff
                    a.ui.compact.button(href='/staff')
                        i.left.chevron.icon
                        +i name='user-shield' classes='ui avatar image'
                        |staff
                img.ui.circular.centered.small.inline.image.shadowed(src="{{c.url 'gold_run_logo' }}")
        .row
            .sixteen.wide.column
                .row
                    +checkin_input
                    // .ui.center.aligned.basic.segment.test
                    //     if checkedout_members.length
                    //         each checkedout_members
                    //             +checkin_button
                    //     else
                    //         if checking_in
                    //             if is_query
                    //                 .ui.center.aligned.header No members found
                    //                 .ui.center.aligned.header See staff to add
                            

template(name='facet_doc_edit')
    with facet_doc
        if is_staff
            +textarea_edit key='body'
        else 
            h3 
                +textarea_view key='body'
                        
                        
        

template(name='checkin_button')
    .ui.massive.button.checkin.new_session
        h2 #{first_name} #{last_name}
    // unless is_staff
    //     //- unless healthclub_checkedin
    //     .ui.massive.basic.button.checkin.new_session
    //         h2 #{first_name} #{last_name}
    //     //- if healthclub_checkedin
    //     //- if is_staff
    //     //- else
    //     //-     .ui.big.basic.button.checkout
    //     //-         i.sign.out.icon
    //     //-             //- +i name='exit-sign' classes='ui avatar image'
    //     //-             |check out
    // if is_staff
    //     if healthclub_checkedin
    //         .ui.basic.button.checkout
    //             i.sign.out.icon
    //             //- +i name='exit-sign' classes='ui avatar image'
    //             |health club check out
    //     else
    //         .ui.massive.fade.animated.button.new_session
    //             .visible.content
    //                 strong #{first_name} #{last_name}
    //             .hidden.content
    //                 |check in




// template(name='set_kiosk_template')            
//     .ui.button.set_kiosk_template #{label}


// template(name='checin')
                
// template(name='resident_guest')
//     with guest_doc
//         .ui.big.teal.basic.button.remove_guest 
//             i.remove.icon
//             |#{guest_name} #{first_name} #{last_name}




template(name='checkins')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='bedroom'
                |checkins
            .ui.icon.button.add_checkin
                i.plus.icon
            +building_facet
            +unit_facet
        .twelve.wide.column
            +sort_direction_toggle
            // +sort_key_toggle
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='unit_number' label='unit #' icon='room'
            +session_set key='sort_key' value='building_number' label='building #' icon='apartment'
            .ui.large.selection.animated.list.scrolling
                each checkin_docs
                    +checkin_item
                    
                    
                    
template(name='checkin_item')
    a.ui.item(href="/checkin/#{_id}") 
        .content 
            .ui.big.label  
                |#{_when}
            .ui.big.label  
                |#{resident_username}
            +bu
            // .ui.big.label 
            //     small author:
            //     |#{_author_username}
            if session_resident.kiosk_photo
                img.ui.image(src="{{c.url session_resident.kiosk_photo width=300 height=300 gravity='face' crop='fill'}}")
            else
                //- |old photo
                img.ui.image(src="{{c.url session_resident.image_id width=300 height=300 gravity='face' crop='fill'}}")
            a.fly_right(href="/resident/#{resident_id}")
                .ui.inline.header
                    |#{resident_first_name} #{resident_last_name}
            with session_resident
                +i name='marker' classes='ui avatar image'
                |#{address}
                +bu
                //- +number_edit key='checkins_without_gov_id' label='alter checkins without gov id' direct=true
                //- +number_edit key='checkins_without_email_verification' label='alter checkins without email verification' direct=true
                //- +number_view key='unit_number' label='unit #' direct=true
                //- +text_view key='building_code' label='building code' direct=true
                // +lease_expiration_check
                //- +rules_and_regs_check
                // +user_check_steps 
                if active_violations
                    .ui.big.red.label active violations
                if staff_notes
                    .ui.small.header
                        i.clipboard.icon(title='staff notes')
                        |#{staff_notes}       
            if checkin_guest_docs.count
                .ui.small.header guests
                each checkin_guest_docs
                    .ui.large.label 
                        |#{guest_name} #{first_name} #{last_name}
            if user_is_resident
                +date_view key='start_date' label='start date' direct=true
                +date_view key='expiration_date' label='expiration date' direct=true
            .ui.button.sign_out
                +i name='exit' classes='ui mini inline image'
                |check out
            +print_this


template(name='checkin_view')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    with current_doc
        .ui.stackable.padded.grid
            .eight.wide.column
                a.ui.big.button(href="/checkins")
                    i.large.left.chevron.icon
                    +i name='checkmark'
                    |checkins
                a.ui.big.button(href="/staff")
                    i.large.left.chevron.icon
                    // i.big.shield.icon
                    +i name='user-shield'
                    |staff
                    // |#{checkin.building_code}
                .ui.header
                    // i.home.icon 
                    +i name='apartment'
                    |checkin
                    |#{checkin.checkin_number}
                .ui.header 
                    |#{when}
                .ui.header 
                    |active: #{active}
                .ui.header 
                    |building #{checkin.building_number}
                if is_dev
                    with checkin
                        +number_edit key='building_number' direct=true
                .ui.header 
                    |building #{checkin.building_code}
                if is_dev
                    with checkin
                        +text_edit key='building_code' direct=true
                        +textarea_edit key='notes' direct=true
                +print_this
                if currentUser
                    +delete_button
            if loading_checkin
                .ui.center.aligned.basic.segment
                    i.massive.loading.refresh.icon
                    .ui.massive.header Running checks and loading profile
            else 
                .eight.wide.column
                    //- if is_staff
                    //- a.ui.header(href="/user/#{user.username}")
                    .ui.big.red.button.cancel_checkin
                        i.big.ban.icon
                        |cancel
                    if current_resident.kiosk_photo
                        with current_resident
                            +image_view key='kiosk_photo' label='photo' direct=true classes='medium circular shadowed'
                    else
                        //- h1.ui.header Please click below to add photo
                        //- .ui.header (switch camera to front)
                        with current_resident
                            +image_edit key='kiosk_photo' label=' ' direct=true
                    //- img.ui.medium.circular.image(src="{{c.url user.image_id width=500 height=500 gravity='face' crop='fill'}}")
                    //- .meta @#{user.username}
                    //- +camera
                    with current_doc
                        h1.ui.huge.header.f11
                            |#{resident_first_name} #{resident_last_name} 
                    if adding_guests
                        .ui.header 
                            i.users.teal.icon
                            |guests
                        .ui.small.inline.header recent guests
                        each resident_guests
                            .ui.big.basic.teal.button.add_recent_guest #{guest_name} #{first_name} #{last_name}
                        div
                        .ui.big.basic.button.add_guest
                            i.plus.icon
                            strong new guest
                        +multi_doc_input key='guests' ref_model='guest' title='lookup previous...' direct=true
                        div
                        with checking_in_doc
                            if checking_in_doc.guest_ids
                                .ui.inline.header guests for this session
                                each checking_in_doc.guest_ids
                                    +resident_guest
                    else
                        .ui.big.basic.fluid.button.toggle_adding_guest 
                            i.plus.large.icon
                            |guest
                    with user
                        +user_check_steps
                    unless current_user.kiosk_photo
                        .ui.disabled.massive.fluid.button
                            |new photo required to sign in
                        //- .ui.center.aligned.header
                        //-     |please click 'Choose File' above, switch the camera to the front, and take photo to proceed 
                    unless current_user.member_waiver_signed
                        .ui.massive.fluid.red.basic.button.sign_guidelines
                            .ui.inline.header 
                                i.edit.icon
                                | sign member waiver            
                    unless current_user.rules_and_regulations_signed
                        .ui.massive.fluid.red.basic.button.sign_rules
                            .ui.inline.header 
                                i.edit.icon
                                | sign rules and regs
                    if current_user.email_red_flagged
                        .ui.disabled.massive.fluid.button
                            |email verification required, please see staff
                    if current_user.gov_red_flagged
                        .ui.disabled.massive.fluid.button
                            |Government Id verification required
        .row
            .sixteen.wide.column
                if timer_engaged
                    .ui.small.grey.header auto check in #{timer} seconds
                    .ui.button.cancel_auto_checkin
                        i.ban.icon
                        | cancel auto check in


