template(name='guests')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='apartment'
                |guests
            // .ui.icon.button.add_guest
            //     i.plus.icon
        .twelve.wide.column
            .ui.inline.header(title='result count') #{result_docs.count}
            // +search_input key='title'
            // +session_icon_button key='view_mode' value='grid' icon='th' 
            // +session_icon_button key='view_mode' value='list' icon='list'
            
            +sort_direction_toggle
            // +sort_key_toggle
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='unit_number' label='unit #' icon='room'
            +session_set key='sort_key' value='building_number' label='building #' icon='apartment'
            // +session_set key='sort_key' value='views' label='views' icon='eye'
            // +session_set key='sort_key' value='intFormedYear' label='year started' icon='calendar'
            // +session_set key='limit' value=10
            // +session_set key='limit' value=25
            // +session_set key='limit' value=100
            if subs_ready
                // if session_is 'view_mode' 'grid'
                //     if one_result
                //         .ui.stackable.centered.one.cards
                //             each guest_docs
                //                 +guest_card
                //     else
                //         .ui.stackable.centered.centered.cards
                //             each guest_docs
                //                 +guest_card
                // else
                .ui.divided.selection.animated.list.scrolling
                    each guest_docs
                        +guest_item

template(name='guest_item')
    // a.ui.item.zoomer.fly_right(class=product_card_class title=ingredients href="/guest/#{guest_number}")
    .ui.item.zoomer
        img.ui.small.inline.image.zoomer(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .ui.inline.header #{name}
        +when
        +bu
        +verified_label
        if can_edit 
            +edit_button
        // a.ui.icon.button(href="/guest/#{guest_number}" title='view')
        a.ui.icon.button(href="/guest/#{_id}" title='view')
            i.chevron.right.large.icon

template(name='verified_label')
    if verified 
        .ui.big.label
            +i name='id-verified'
            |verified
    else
        .ui.big.label
            +i name='id-not-verified'
            |unverified
    


template(name='guest_view')
    with current_doc
        .ui.stackable.padded.three.column.grid
            .column
                .ui.inline.header
                    // i.home.icon 
                    +i name='friends'
                    |guest
                    |#{name}
                a.ui.big.button(href="/guests")
                    i.large.left.chevron.icon
                    // |#{guest_code}
                    +i name='friends'
                    |guests
                +verified_label

                if can_edit 
                    a.ui.icon.large.compact.button(href="/guest/#{_id}/edit" title='edit')
                        i.large.pencil.icon
                +image_view key='image_id' 
                .ui.header 
                    |guest ##{guest_number}
                .ui.header 
                    |guest letter: #{guest_letter}
            .column
                +doc_residents
            .column
                +guest_segment key='unit' icon='room'
            .column
                +guest_segment key='violation' icon='foul'
            .column
                +doc_owners
                // +guest_units
            .column
                // +guest_segment key='' icon='room'
                // +guest_violations
                
                
template(name='guest_segment')
    .ui.segment.alpha 
        a.ui.header.zoomer.fly_up(href="/#{key}s")
            +i name=icon
            |#{key}s
                
template(name='guest_units')                
    .ui.segment.alpha
        .ui.header 
            +i name='room'
            |guest units
        .ui.selection.list
            each guest_unit_docs
                a.item(href="/unit/#{_id}") 
                    img.ui.tiny.inline.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                    .ui.inline.header #{unit_number}
        if is_springdale
            +guest_permits


template(name='guest_violations')            
    .ui.segment.alpha
        .ui.header 
            +i name='foul'
            |guest permits
        .ui.cards
            each permits
                .ui.card
                    .content
                        with resident 
                            +username_info
                        +date_view key='expiration_date' icon='calendar delete' 
                        +text_view key='permit' icon='badge' 
                        +text_view key='license_plate' icon='driver-license-card' 

template(name='guest_residents')            
    .ui.segment.alpha
        .ui.header
            +i name='groups'
            // i.users.icon
            |guest residents
        .ui.list
            each guest_resident_docs
                .ui.item
                    img.ui.tiny.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header.fly_right(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            .meta 
                                i.calendar.icon(title='expiration date')
                                |#{expiration_date}
                            //- +array_view key='tags' label='Tags' 



template(name='guest_edit')         
    with current_doc
        .ui.padded.two.column.centered.stackable.grid
            .column
                +image_edit key='image_id' 
                +number_edit key='guest_number' label='guest number' 
                div
                +text_edit key='guest_letter' label='guest letter' 
                div
                +text_edit key='address' label='address' 
                +html_edit key='notes' 
            .column
                a.ui.big.fluid.green.button.fly_down(href="/guest/#{_id}")
                    i.checkmark.big.icon
                    |save
                if in_dev 
                    +delete_button