template(name='home')
    .ui.stackable.padded.grid
        .one.column.row
            .center.aligned.column
                .ui.header healthclub 
                unless currentUser
                    .ui.large.input.lookup_user
                        input.search_user(type='text' placeholder='search user...')
                each user_results 
                    .ui.button.pick_user 
                        |#{username}
                if currentUser 
                    if currentUser.checked_in 
                        .ui.header currently checked in
                        .ui.big.button.checkout
                            +i name='exit'
                            |checkout
                    else 
                        .ui.big.button.checkin 
                            +i name='internal'
                            |checkin
        .three.column.row
            .column       
                +latest_activity
            .column
                +latest_checkins
                
template(name='latest_activity')
    .ui.header 
        +i name='clock'
        |latest activty 
    .ui.large.list.smallscroll
        each activity_docs 
            a.ui.item(href="/#{_parent_doc.model}/#{parent_id}") #{body} 
                small #{_when} by #{_author_username}
                
template(name='latest_checkins')
    .ui.header 
        +i name='clock'
        |latest checkins 
    .ui.selection.divided.list
        each latest_checkin_docs 
            a.item.fly_right(href="/checkin/#{_id}" title="view checkin") 
                |#{body} #{_when}
                +author_info
        
                
template(name='parent_info')
    .ui.large.label
        with _parent_doc 
            +model_label
            |#{title}
                
                    
template(name='home_button')
    a.ui.big.circular.compact.image.label.fly_down(href="/#{key}")
        +i name=icon
        |#{key}
