template(name='home')
    .ui.stackable.padded.grid
        .one.column.row
            .center.aligned.column
                .ui.inline.header 
                    +i name='dumbbell'
                    |healthclub check in
                if currentUser.admin_mode
                    +add_user_button
                unless currentUser
                    .ui.massive.icon.input.lookup_user
                        i.search.icon
                        input.search_user(type='text' placeholder='search user...')
                    each checkedout_user_docs 
                        a.ui.big.image.label.pick_user 
                            img.ui.avatar.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{username}
                            |#{building_number}: ##{unit_number}
                if currentUser 
                    if currentUser.checkedin 
                        .ui.header currently checked in
                        .ui.big.button.checkout
                            +i name='exit'
                            img.ui.avatar.image(src="{{c.url currentUser.image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |check out as #{currentUser.username}
                    else 
                        .ui.big.button.checkin 
                            +i name='internal'
                            img.ui.avatar.image(src="{{c.url currentUser.image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |check in as #{currentUser.username}
        .two.column.row
            .column       
                +healthclub_rentals
            .column       
                +active_checkins
            .column       
                .ui.header 
                    +i name='info'
                    | hours 7am-10pm
                a.ui.large.compact.button.zoomer(href="https://goo.gl/maps/Xzx6XiWAikcdMAso7" target="_window") 
                    +i name='marker'
                    |2959 Shadow Creek Dr, Boulder, CO 80303
                a.ui.large.compact.button.zoomer(href="tel:303-545-1787") 
                    +i name='phone'
                    |phone: (303) 545-1787
            // .column
                // +latest_activity
            .column
                +latest_checkins
            .column
                +map_view
        .one.column.row
            .column
                +readings
                
                
template(name='healthclub_rentals')
    .ui.header 
        +i name='basketball'
        |healthclub rentals
    each rental_item_docs
        .ui.segment
            img.ui.tiny.inline.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            .ui.inline.header #{title}
            .ui.button.checkout_rental
                i.big.checkmark.icon
                |checkout
template(name='water_readings')
    a.ui.large.compact.button.zoomer.fly_right(href="/readings") 
        +i name='pool'
        |water readings
    .ui.large.list 
        .item indoor hottub
        .item outdoor hottub
        .item pool
        
                
template(name='active_checkins')
    .ui.header 
        +i name='clock'
        |active checkins
    .ui.big.divided.list
        each active_checkin_docs 
            .item(href="/checkin/#{_id}" title=resident_user_id)
                a.ui.large.label.fly_down(href="/user/#{resident_username}") 
                    strong #{_resident.username}
                    small #{_resident.building_number}: ##{_resident.unit_number}
                | #{_when}
                .ui.compact.button.checkout 
                    i.sign.out.red.icon
                    |checkout
                // |#{string}
                
template(name='latest_activity')
    .ui.header 
        +i name='clock'
        |latest activty 
    .ui.large.list.smallscroll
        each activity_docs 
            a.ui.item(href="/#{_parent_doc.model}/#{parent_id}") #{body} 
                small #{_when} by #{_author_username}
                
template(name='latest_checkins')
    .ui.segment.alpha
        .ui.header 
            +i name='history'
            |latest checkins 
        .ui.selection.divided.list.smallscroll
            each latest_checkin_docs 
                // a.item.fly_right(href="/checkin/#{_id}" title="view checkin") 
                .item
                    if active
                        i.large.green.checkmark.icon
                    else 
                        i.large.red.sign.out.alternate.icon
                    |#{_when}
                    |#{resident_username}
                    with _resident
                        +verification_label
                    
                    // +author_info
                    if currentUser.admin_mode
                        i.red.circular.remove.icon.delete_checkin
                    a.ui.circular.icon.button.zoomer.fly_right(href="/checkin/#{_id}" title='view checkin')
                        i.chevron.right.icon
        
template(name='verification_label')        
    if verified 
        .ui.image.large.label
            +i name='id-verified'
            |verified
    else 
        .ui.image.large.label
            +i name='id-not-verified'
            |unverified
        
        
                
template(name='parent_info')
    .ui.large.label
        with _parent_doc 
            +model_label
            |#{title}
                
                    
template(name='home_button')
    a.ui.big.circular.compact.image.label.fly_down(href="/#{key}")
        +i name=icon
        |#{key}
