template(name='home')
    .ui.stackable.padded.grid
        .one.column.row
            .center.aligned.column
                .ui.inline.header 
                    +i name='fitness'
                    |healthclub checkin
                +add_user_button
                unless currentUser
                    .ui.large.input.lookup_user
                        input.search_user(type='text' placeholder='search user...')
                    each uncheckedin_user_docs 
                        a.ui.button.pick_user 
                            |#{username}
                            |#{building_number}: ##{unit_number}
                if currentUser 
                    if currentUser.checked_in 
                        .ui.header currently checked in
                        .ui.big.button.checkout
                            +i name='exit'
                            |checkout
                    else 
                        .ui.big.button.checkin 
                            +i name='internal'
                            |checkin
        .two.column.row
            .column       
                +active_checkins
            // .column       
            //     +latest_activity
            .column
                +latest_checkins
                
template(name='active_checkins')
    .ui.header 
        +i name='clock'
        |active checkins
    .ui.large.list
        each active_checkin_docs 
            .item(href="/checkin/#{_id}") #{body} 
                a.ui.large.label.fly_down(href="/user/#{resident_username}") 
                    strong #{resident_username}
                    small #{building_number}: ##{unit_number}
                | #{_when}
                .ui.button.checkout 
                    i.sign.out.icon
                    |checkout
                |#{string}
                
template(name='latest_activity')
    .ui.header 
        +i name='clock'
        |latest activty 
    .ui.large.list.smallscroll
        each activity_docs 
            a.ui.item(href="/#{_parent_doc.model}/#{parent_id}") #{body} 
                small #{_when} by #{_author_username}
                
template(name='latest_checkins')
    .ui.header 
        +i name='clock'
        |latest checkins 
    .ui.selection.divided.list
        each latest_checkin_docs 
            a.item.fly_right(href="/checkin/#{_id}" title="view checkin") 
                |#{body} #{_when}
                |#{resident_username}
                // +author_info
        
                
template(name='parent_info')
    .ui.large.label
        with _parent_doc 
            +model_label
            |#{title}
                
                    
template(name='home_button')
    a.ui.big.circular.compact.image.label.fly_down(href="/#{key}")
        +i name=icon
        |#{key}
