template(name='keys')
    .ui.stackable.padded.grid
        if currentUser
            .four.wide.column
                .ui.inline.header 
                    +i name='key'
                    |keys
                if currentUser 
                    +add_button model='key'
                .ui.icon.fluid.input 
                    i.hashtag.icon
                    input.search_key_number(type='text' placeholder='number')
                .ui.icon.fluid.input 
                    i.building.icon
                    input.search_building_number(type='text' placeholder='building')
            .twelve.wide.column
                .ui.inline.header(title='result count') #{result_docs.count}
                +search_input key='address'
                +sort_direction_toggle
                // +sort_key_toggle
                +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
                +session_set key='sort_key' value='building_number' label='building #' icon='building'
                +session_set key='sort_key' value='views' label='views' icon='eye'
                +session_set key='sort_key' value='unit_number' label='unit #' icon='room'
                +session_set key='sort_key' value='keytag_number' label='tag #' icon='key'
                // +session_set key='limit' value=10
                // +session_set key='limit' value=25
                // +session_set key='limit' value=100
    
                if subs_ready
                    .ui.divided.selection.animated.list
                        each key_docs
                            +key_item
        else 
            .sixteen.wide.centered.column
                +login
            
template(name='key_item')
    a.ui.item.fly_right(href="/key/#{_id}") 
        // .ui.inline.header #{address}
        // .ui.inline.header ##{key_number}
        .content
            if key_residents
                .ui.large.label
                    +i name='groups'
                    each key_residents 
                        |#{username}
            .ui.label #{color}
            if is color 'blue'
                .ui.big.circular.blue.label
                    |blue
            if is color 'red'
                .ui.big.circular.red.label
            
            |!{description}
            // +user_info
            if checked_out
                .ui.label 
                    |checked out
            else
                .ui.green.label 
                    |checked in
            .ui.big.label keytag ##{keytag_number}
            if building_letter 
                .ui.label letter: #{building_letter}
            // if currentUser.admin_mode
                    
            +bu                    

template(name='key_view')
    with current_doc
        .ui.stackable.padded.three.column.grid
            .column
                a.ui.large.compact.button.fly_left(href="/keys")
                    i.large.left.chevron.icon
                    +i name='key'
                    |keys
                +building_nav_button
                +unit_nav_button
                .ui.header
                    // i.home.icon 
                    +i name='key'
                    |key
                    |#{key_number}
                +image_view key='image_id' label='image'
                // +text_view key='address' label='address' icon='marker'
                +number_view key='unit_number' label='unit number' icon='room'
                +number_view key='building_number' label='building number' icon='apartment'
                if currentUser.admin_mode
                    .ui.big.label #{keytag_number}
                .ui.header #{color}
            .column
                if can_edit 
                    a.ui.large.compact.button(href="/key/#{_id}/edit")
                        i.large.pencil.icon
                        |edit
                +viewing_info
            .column
                +doc_residents
                +doc_owners
                +comments

            
            
template(name='building_nav_button')
    if building_number  
        with building_doc
            a.ui.big.button.fly_down(href="/building/#{_id}")
                i.large.left.chevron.icon
                +i name='building'
                |##{building_number}

template(name='unit_nav_button')
    if unit_number
        with unit_doc
            a.ui.big.button(href="/unit/#{_id}")
                i.large.left.chevron.icon
                +i name='room'
                |##{unit_number}

            
template(name='key_edit')         
    with current_doc
        .ui.padded.two.column.centered.grid
            .column
                .ui.header editing key ##{building_number} ##{unit_number}
                // +text_edit key='address' label='address' icon='marker'
                +number_edit key='unit_number' label='unit number' icon='cube'
                div
                +number_edit key='building_number' label='building number' icon='building'
                div
                +text_edit key='building_letter' label='building_letter' icon='building'
                +number_edit key='keytag_number' label='key tag number' icon='key'
                +key_value_edit key='color' label='blue' value='blue' icon='paint'
                +key_value_edit key='color' label='red' value='red' icon='paint'
                +key_value_edit key='color' label='green' value='green' icon='paint'
            .column
                a.ui.big.fluid.icon.green.button(href="/key/#{_id}")
                    i.checkmark.big.icon
                +html_edit key='description' label='description' 
                if currentUser.admin_mode
                    +delete_button