template(name='rentals')
    // +set_route key='healthclub' label='back to kiosk' icon='home' cl='fluid big'

    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='clock'
                |rentals
            if currentUser
                .ui.icon.compact.button.add_rental
                    i.plus.large.icon
            .ui.icon.input 
                i.hashtag.icon
                input.search_rental_number(type='text' placeholder='number')
            .ui.icon.input 
                i.building.icon
                input.search_building_number(type='text' placeholder='building')
        .twelve.wide.column
            .ui.inline.header(title='result count') #{result_docs.count}
            +search_input key='address'
            +sort_direction_toggle
            // +sort_key_toggle
            +session_set key='sort_key' value='price' label='price' icon='money'
            // +session_set key='sort_key' value='' label='added' icon='clock'
            // +session_set key='sort_key' value='points' label='points' icon='hashtag'
            // +session_set key='sort_key' value='views' label='views' icon='eye'
            // +session_set key='sort_key' value='intFormedYear' label='year started' icon='calendar'
            // +session_set key='limit' value=10
            // +session_set key='limit' value=25
            // +session_set key='limit' value=100
            .ui.segment.alpha
                .ui.header 
                    +i name='bicycle'
                    |items 
                if subs_ready
                    .ui.divided.selection.animated.list
                        each rental_docs
                            +rental_item
            .ui.segment.alpha
                .ui.header 
                    +i name='garage'
                    |parking spaces
                .ui.large.list
                    each parking_rental_docs 
                        .ui.header #{unit_number}
                            |#{_when}
            .ui.segment.alpha
                .ui.header 
                    +i name='room'
                    |units
                .ui.large.list
                    each unit_rental_docs 
                        a.item.zoomer(href='/unit/#{_id}') 
                            img.ui.small.inline.image.zoomer(src="{{c.url image_id }}")
                            .ui.inline.header 
                                +i name='building'
                                |#{building_number}
                            .ui.inline.header 
                                +i name='room'
                                |#{unit_number}
                        
            
            
template(name='rental_item')
    a.ui.item.fly_right(href="/rental/#{_id}") 
        if image_id
            img.ui.tiny.inline.image(src="{{c.url image_id }}")
        .ui.inline.header #{title}
        // .ui.inline.header ##{rental_number}
        .ui.label
            i.marker.icon 
            |#{location}
        if available 
            .ui.big.green.label 
                i.checkmark.icon
                |available 
        else 
            .ui.big.red.label 
                i.large.cancel.icon 
                |unavailable
        +bu
        if rental_residents
            .ui.large.label
                +i name='groups'
                each rental_residents 
                    |#{username}
                    // +user_info
        if for_rent 
            .ui.basic.label
                +i name='clock' 
                |for rent

template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            .eight.wide.column
                a.ui.large.compact.button.fly_left(href="/rentals")
                    i.large.left.chevron.icon
                    +i name='garage'
                    |rentals
                +building_nav_button
                +unit_nav_button
                .ui.header
                    // i.home.icon 
                    +i name='garage'
                    small viewing
                    strong rental
                    |#{title}
                if available
                    .ui.green.big.label
                        i.big.clock.icon
                        |available
                else 
                    .ui.big.red.label
                        i.big.cancel.icon
                        |unavailable
                +image_view key='image_id' label='image'
                +image_view key='image_id2' label='image 2'
                +text_view key='address' label='address' icon='marker'
                +number_view key='unit_number' label='unit number' icon='room'
                +number_view key='building_number' label='building number' icon='apartment'
                +link_view key='link' label='link' icon='link' 
                +array_view key='location_tags' label='location tags'
                +array_view key='tags' label='tags' icon='tags'
                .ui.header 
                    |price: #{price}
            .eight.wide.column
                if available
                    .ui.big.green.button.rent
                        i.checkmark.large.icon
                        |rent
                else 
                    .ui.big.teal.button.return_active_rental
                        i.large.undo.icon
                        |return
                +rental_orders
                if can_edit 
                    a.ui.large.compact.button(href="/rental/#{_id}/edit")
                        i.large.pencil.icon
                        |edit
                +viewing_info
                +doc_residents
                +doc_owners
                +comments

            
template(name='rental_orders')
    .ui.header 
        +i name='order-history'
        |rental orders
    .ui.list 
        each rental_order_docs
            .ui.header #{_when} by #{_author_username}
            if active 
                .ui.button.return_rental 
                    i.undo.big.icon 
                    |return
            else 
                |returned: {{long_time return_timestamp}}
            
            
template(name='rental_edit')         
    with current_doc
        .ui.padded.two.column.centered.grid
            .column
                +text_edit key='title' label='title' icon='header'
                +image_edit key='image_id' label='image'
                +image_edit key='image_id2' label='image 2'
                +text_edit key='address' label='address' icon='marker'
                +number_edit key='unit_number' label='unit number' icon='room'
                +number_edit key='building_number' label='building number' icon='apartment'
                +link_edit key='link' label='link' icon='link' 
                +array_edit key='tags' label='tags' icon='tags'
            .column
                a.ui.big.fluid.green.button(href="/rental/#{_id}")
                    i.checkmark.big.icon
                    |save
                +html_edit key='description' label='description' 
                if currentUser.admin_mode
                    +delete_button
            