template(name='shifts')
    .ui.fluid.accordion.alpha
        .active.title
            .ui.inline.header 
                +i name='calendar'
                |staff shifts
                i.dropdown.icon
        .active.content
            // +open_shifts
            .ui.icon.button.add_shift
                i.plus.icon
            .ui.header 
                |upcoming shifts 
            each upcoming_days
                +shift_day_item 
            each shift_docs 
                .ui.segment.alpha #{title}
                    .ui.label #{staff_username}
                    +toggle_edit_button
                    if is_editing 
                        div
                        .ui.inline.small.header shift
                        +key_value_edit key='shift_type' value='morning' icon='morning'
                        +key_value_edit key='shift_type' value='afternoon' icon='afternoon'
                        +key_value_edit key='shift_type' value='evening' icon='evening'
                        div
                        .ui.inline.small.header staff
                        +key_value_edit key='staff_username' value='nikka' 
                        +key_value_edit key='staff_username' value='brigitte' 
                        +key_value_edit key='staff_username' value='mai' 
                        +key_value_edit key='staff_username' value='eric' 
                        +key_value_edit key='staff_username' value='tanner' 
                        +date_edit key='date' label='date' icon='calendar'
                        // +date_edit key='date' label='date' icon='day'
                        +print_this
                    else 
                        if staff_username
                            .ui.label #{staff_username}
                        else 
                            .ui.header 
                                i.alert.icon 
                                |no one assigned
                        .ui.label #{shift_type}
                        .ui.label #{date} {{long_date date}}
                        // +viewing_info
                        if is_assigned 
                            .ui.button.give_up
                                |give up
                        if can_take 
                            .ui.button.take_shift 
                                |take
                        // +comments
              
              
template(name='shift_day_item')
    .ui.four.column.grid
        .column
            .ui.header {{medium_date this}}
        .column
            .ui.header morning 7-12
            with morning_shift
                .ui.label #{staff_username}
        .column
            .ui.header afternoon 12-5
            with afternoon_shift
                .ui.label #{staff_username}
        .column
            .ui.header evening 5-10
            with evening_shift
                .ui.label #{staff_username}

                
               
template(name='day_shifts')
    .ui.padded.stackable.grid 
        .sixteen.wide.column
            .ui.header day shifts for #{current_date}
