template(name='units')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='bedroom'
                |units
            .ui.icon.compact.button.add_unit
                i.plus.large.icon
            .ui.icon.input 
                i.hashtag.icon
                input.search_unit_number(type='text' placeholder='number')
            .ui.icon.input 
                i.building.icon
                input.search_building_number(type='text' placeholder='building')
        .twelve.wide.column
            .ui.inline.header(title='result count') #{result_docs.count}
            +search_input key='address'
            +session_icon_button key='view_mode' value='grid' icon='th' 
            +session_icon_button key='view_mode' value='list' icon='list'
            
            +sort_direction_toggle
            // +sort_key_toggle
            +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
            +session_set key='sort_key' value='unit_number' label='unit #' icon='room'
            +session_set key='sort_key' value='building_number' label='building #' icon='apartment'
            // +session_set key='sort_key' value='views' label='views' icon='eye'
            // +session_set key='sort_key' value='intFormedYear' label='year started' icon='calendar'
            // +session_set key='limit' value=10
            // +session_set key='limit' value=25
            // +session_set key='limit' value=100

            if subs_ready
                if session_is 'view_mode' 'grid'
                    if one_result
                        .ui.stackable.centered.one.cards
                            each unit_docs
                                +unit_card
                    else
                        .ui.stackable.centered.centered.cards
                            each unit_docs
                                +unit_card
                else
                    // .ui.divided.selection.animated.lis
                    each unit_docs
                        +unit_item
            
            
template(name='unit_card')
    a.ui.card.fly_right(href="/unit/#{_id}") 
        if image_id
            img.ui.image(src="{{c.url image_id }}")
        .content 
            .ui.inline.header #{address}
            // .ui.inline.header ##{unit_number}
            .ui.large.image.label
                +i name='building'
                |##{building_number}
            if unit_residents
                +i name='groups'
                each unit_residents 
                    +user_info
            if for_sale 
                .ui.basic.label
                    +i name='money' 
                    |for sale
            if for_rent 
                .ui.basic.label
                    +i name='clock' 
                    |for rent
                    
template(name='unit_item')
    div
    a.ui.segment.alpha.fly_right.zoomer(href="/unit/#{_id}") 
        if image_id
            img.ui.small.inline.rounded.image.zoomer(src="{{c.url image_id }}")
        .ui.inline.header.zoomer #{address}
        // .ui.inline.header ##{unit_number}
        .ui.large.image.label
            +i name='building'
            |##{building_number}
        if unit_residents
            .ui.large.label
                +i name='groups'
                each unit_residents 
                    |#{username}
                    // +user_info
        if for_sale 
            .ui.basic.label
                +i name='money' 
                |for sale
        if for_rent 
            .ui.basic.label
                +i name='clock' 
                |for rent

template(name='unit_view')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header
                    // i.home.icon 
                    +i name='room'
                    |unit
                    |#{unit_number}
                a.ui.large.compact.button.fly_left(href="/units")
                    i.large.left.chevron.icon
                    +i name='room'
                    |units
                a.ui.big.button.fly_left(href="/building/#{building_number}")
                    i.large.left.chevron.icon
                    +i name='building'
                    |#{building_number}
                img.ui.image.zoomer(src="{{c.url image_id }}")
                if inside_image1
                    img.ui.image(src="{{c.url inside_image1 }}")
                if inside_image2
                    img.ui.image(src="{{c.url inside_image2 }}")
                if inside_image3
                    img.ui.image(src="{{c.url inside_image3 }}")
                    
                a.ui.big.button(href="/building/#{building_number}")
                    .ui.header 
                        |building ##{building_number}
                if can_edit 
                    a.ui.large.compact.button(href="/unit/#{_id}/edit")
                        i.large.pencil.icon
                        |edit
                +viewing_info
                // if can_edit
                //     +text_edit key='building_code' label='building_code' 
                //     +number_edit key='building_number' label='building number' 
                //     +textarea_edit key='notes' 
            .six.wide.column
                +html_view key='description' label='description' 
                +user_key
                +number_view key='bedroom_count' label='bedrooms' icon='bedroom' 
                +number_view key='bathroom_count' label='bathrooms' icon='bath' 
                if link
                    +link_view key='link' label='link' icon='link' 
            .six.wide.column
                +number_view key='square_feet' label='square feet' icon='ruler' 
                +number_view key='monthly_rent' label='monthly rent' icon='money' 
                +boolean_view key='for_rent' label='for rent' icon='money' 
                    if for_rent 
                        +date_view key='date_available_rent' label='date available to rent' 
                +boolean_view key='for_sale' label='for sale' icon='money' 
                if for_sale 
                    +date_view key='date_available' label='date available' icon='calendar' 
                +unit_violations
                +unit_residents
                +unit_owners
                +comments
                if is_springdale
                    +unit_permits

            
template(name='unit_edit')         
    with current_doc
        .ui.padded.three.column.centered.grid
            .column
                +image_edit key='image_id'
                +image_edit key='inside_image1'
                +image_edit key='inside_image2'
                +image_edit key='inside_image3'
                +text_edit key='address' label='address' icon='marker'
                +number_edit key='unit_number' label='unit number' icon='hashtag'
                +number_edit key='building_number' label='building number' icon='apartment'
                +link_edit key='link' label='link' icon='link' 
                // +text_edit key='email' label='Email' 
            .column
                a.ui.big.fluid.icon.green.button(href="/unit/#{_id}")
                    i.checkmark.big.icon
                +html_edit key='description' label='description' 
            .column
                +number_edit key='bedroom_count' label='bedrooms' icon='bedroom' 
                +number_edit key='bathroom_count' label='bathrooms' icon='bath' 
                +number_edit key='square_feet' label='square feet' icon='ruler' 
                +number_edit key='monthly_rent' label='monthly rent' icon='money' 
                +boolean_edit key='for_rent' label='for rent' icon='money' 
                    if for_rent 
                        +date_edit key='date_available_rent' label='date available to rent' 
                +boolean_edit key='for_sale' label='for sale' icon='money' 
                if for_sale 
                    +date_edit key='date_available' label='date available' icon='calendar' 
                if currentUser.admin_mode
                    +delete_button
            
template(name='unit_permits')            
    .ui.segment
        .ui.header 
            +i name='badge'
            |Unit Permits
        .ui.cards
            each permits
                .ui.card
                    .content
                        with resident 
                            +username_info
                        +date_view key='expiration_date' icon='calendar delete' 
                        +text_view key='permit' icon='badge' 
                        +text_view key='license_plate' icon='driver-license-card' 

template(name='unit_owners')            
    .ui.segment
        a.ui.header(href="/users")
            +i name='rent'
            // i.money.icon
            |unit owners
        .ui.four.cards
            each owners
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            //- +array_view key='tags' label='Tags' 


template(name='unit_residents')            
    .ui.segment.alpha
        a.ui.header.fly_down(href="/users")
            +i name='person-at-home'
            |#{unit_resident_docs.count} unit residents
        .ui.four.cards
            each unit_resident_docs
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            .meta 
                                i.calendar.icon(title='expiration date')
                                |#{expiration_date}
                            //- +array_view key='tags' label='Tags' 


template(name='user_key')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            // i.key.icon
            +i name='key'
            |keys
        if is_admin
            +goto_model slug='key'
        with key
            +boolean_view key='key_exists' label='key exists' 
            //- +number_view key='building_number' label='building number' 
            //- +number_view key='unit_number' label='unit #' 
            div
            if is_admin
                +number_view key='tag_number' label='tag number' 
            if is_staff
                if viewing_code
                    .ui.massive.yellow.basic.label
                        if fowler
                            +boolean_view key='fowler' label='fowler' 
                        else
                            +number_view key='tag_number' label='tag number' 
                else
                    .ui.icon.button.view_code
                        i.lock.icon
                    //- +i name='enter-pin' classes='view_code pointer' title='view code'

            if is_admin
                div
                +edit_button
                +view_button
            if is_staff
                .ui.tiny.grey.header
                    +i name='log'
                    // i.grey.shield.icon
                    |access log            
                .ui.list.smallscroll
                    each access_log
                        .item #{when} by #{_author_username}

